<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" title="Sales" sortOrder="20">
                    <resource id="Magento_Sales::sales_order" title="Orders" sortOrder="10">
                        <resource id="MagoArab_OrderActionsControl::order_mass_actions" 
                                  title="Mass Order Actions" 
                                  sortOrder="100"/>
                        
                        <resource id="MagoArab_OrderActionsControl::hold_action" 
                                  title="Hold/Unhold Orders" 
                                  sortOrder="10"/>
                        
                        <resource id="MagoArab_OrderActionsControl::print_actions" 
                                  title="Print Order Documents" 
                                  sortOrder="20"/>
                        
                        <resource id="MagoArab_OrderActionsControl::delete_action" 
                                  title="Delete Orders" 
                                  sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>